@import '../../../../common.scss';

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 55px;
  border: 2px solid $color-quill-grey;
  border-radius: 5px;
  background-color: $color-twilight-blue;
  padding: 5px;

  .cart-card {
    height: 50px;
    width: 110px;
    text-align: center;
  }
}
