<app-card class="product-card">
  <ng-container *appCardHeader>
    <h3 class="product-card__title">{{ product.productName }}</h3>
  </ng-container>
  <ng-container *appCardBody>
    <div class="product-card__detail">
      <p>Catégorie : {{ product.category }}</p>
      <p>Prix : {{ product.price | number }} €</p>
      <p>Taxes : {{ product.taxPercent }}%</p>
      <p>
        Articles restants : <b>{{ product.quantity }}</b>
      </p>
    </div>
  </ng-container>
  <ng-container *appCardFooter>
    <form [formGroup]="addToCartFormGroup" class="add-to-card__form">
      <div *ngIf="product.quantity < 1; else productAvailable">
        <span class="product-unavailable">Non disponible</span>
      </div>
      <ng-template #productAvailable>
        <input type="number" [max]="product.quantity" min="1" formControlName="quantity" class="quantity__input" />
      </ng-template>
      <button (click)="addToCart($event)" [disabled]="!addToCartFormGroup.valid || product.quantity < 1" class="button">
        Ajouter
      </button>
    </form>
  </ng-container>
</app-card>
